<div id="<%= dom_id note %>">
  <p>
    <strong>Message:</strong>
    <%= note.message %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= note.project_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= note.user_id %>
  </p>

</div>
